.localmessage3  {
    background-color: #afd8ff;
}

.localmessage2  {
    background-color: #ff978e;
}

.localmessage1  {
    background-color: #9dffa1;
}

.localmessage0  {
    background-color: #ffd597;
}